.vscode/**
.vscode-test/**
.gitignore
vsc-extension-quickstart.md
*.b64
generateInstructionJson.js
InstructionDetail.json
exampledetail.html
InstructionLists.js
InstructionList.json
InstructionListDetail.json
out.txt
